* {
    box-sizing: border-box;
    /* теперь паддинг и бордеры вычитываются внутри а не увеличивают*/
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
    /*убираем маркеры*/
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}

header {
    font-family: 'Roboto', sans-serif;
}

.header_top {
    background-color: #262626;
}

.header_btn,
.header_btnAdmin {
    float: right;
    line-height: 36px;
    color: #000000;
    background-color: #d0ae32;
    padding: 5px 20px 4px 50px;
    font-style: 16px;
    display: block;
    position: relative;
}

.header_btnAdmin {
    padding: 5px 20px;
    font-weight: 700;
}

.header_btn::before {
    content: "\f0b1";
    font-family: 'icomoon' !important;
    position: absolute;
    left: 22px;
    color: rgb(0, 0, 0);
}

.header_contacts::after {
    content: "";
    /* ????*/
    clear: both;
    /* ????*/
    display: block;
}

.header_phone,
.header_email {
    color: #939393;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}

.header_phone {
    padding-left: 20px;
    padding-right: 30px;
}

.header_phone::before {
    content: "\f095";
    font-family: 'icomoon' !important;
    position: absolute;
    left: 0;
    color: #d0ae32;
}

.header_email {
    padding-left: 24px;
}

.header_email::before {
    content: "\f003";
    font-family: 'icomoon' !important;
    position: absolute;
    left: 0;
    color: #d0ae32;
}

.header_content {
    padding: 34px 0px 23px;
}

.header_content-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo img {
    width: 150px;
    height: 35px;
}

.menu li {
    display: inline-block;
}

.menu {
    padding-top: 8px;
}

.menu a {
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    /* прозрачное, выделяем под это место*/
    padding: 0px 16px;
    transition: all 0.3s;
}

.menu a:hover {
    border-color: #d0ae32;
}

.menu li+li {
    /* от первого ли тогда не отступается*/
    padding-left: 10px;
}

#modal{
    display: none;
}

.slider {
    background-image: url(../img/slider-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* чтобы растягивалась &&&!!!!*/
    background-position: center;
    min-height: 500px;
    /* надо указ - картинка будет растягиваться в завис от наполнения содержимого*/

}

.slider_item-content {
    text-align: center;
    padding-top: 110px;
    max-width: 665px;
    /*!!!!!!!!!!!!!*/
    margin: 0 auto;

}

.slider_title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
}

.slider_text {
    font-size: 18px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    margin-bottom: 50px;
}

.default-btn {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 30px 8px 24px;
    border: 1px solid #d0ae32;
    border-right-width: 20px;
    position: relative;
}

.default-btn::after {
    font-family: 'icomoon' !important;
    content: "\f105";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -13px;
}

.slider_inner {
    position: relative;
}

.slick-btn {
    position: absolute;
    top: 70%;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.slick-btn:hover {
    background-color: rgba(185, 185, 185, 0.305);
}

.slick-btn::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon' !important;
}

.slick-next::before {
    content: "\f105";
}

.slick-next {
    right: 0;
}

.slick-prev::before {
    content: "\f104";
}

.slick-prev {
    left: 0;
}

.services {
    padding: 50px 0px 30px;
}

.services_top,
.news_top,
.admin_panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.services_title-box,
.form_title-box,
.news_title-box {
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}

.services_title-box::before,
.form_title-box::before,
.news_title-box::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #d0ae32;
    left: 0;
    top: 10px;
}

.services_title,
.form_title,
.news_title {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #1b1b1b;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;

}

.services_text,
.form_text,
.news_text {
    letter-spacing: 0.1px;
}

/* .news_btn a{
    color: #303030;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 5px 38px;
    border: 3px solid #c3c3c3;
} */

.services_items {
    display: flex;
    justify-content: space-between;
}

.services_item {
    max-width: 320px;
    text-align: center;
    padding: 30px 0px 80px;
    position: relative;
    min-height: 375px;
    background-color: rgb(249, 249, 249);
    box-shadow: 0px 7px 24.3px 2.7px rgb(91 89 89 / 14%);
    width: 100%;
}

.services_item-title {
    color: #1b1b1b;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0;
}

.services_item-text {
    letter-spacing: 0.1px;
    padding: 0px 30px 30px;
}

.services_item-btn {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}

.services_item-btn .default-btn {
    color: #303030;
}

.services_item-btn .default-btn::after {
    color: #ffffff;
}

.services_item-link {
    font-family: 'Roboto', sans-serif;
    color: #1b1b1b;
    border-bottom: 1px solid #1b1b1b;
    margin-right: 60px;
}

.about {
    background-image: url(../img/about-bg.jpg);
    background-size: inherit;
    background-position: center;
    min-height: 300px;
    background-repeat: no-repeat;
    padding: 25px 0px 45px;
}

.about_inner {
    max-width: 775px;
}

.about_title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 24px;
    padding: 10px 0px 25px;
    color: #ffffff;
    font-weight: 500;
}

.about_text {
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 30px;
    color: #e8e8e8;
}

.about-btn .default-btn::after {
    color: #ffffff;
}

.form {
    padding-top: 30px;
}

.form_inner {
    padding-bottom: 40px;
    background-image: url(../img/form-woman.png);
    min-height: 375px;
    background-repeat: no-repeat;
    background-position: bottom right -18px;
}

.form_box {
    max-width: 850px;
    padding-top: 45px;
}

.form_box-inner {
    display: flex;
    justify-content: start;
}

.form_box-inner label,
.form_box-inner input,
.form_box-inner textarea {
    display: block;
    width: 100%;
}

.form_box-left {
    max-width: 260px;
    width: 100%;
    /*теперь если есть возможность быть 260 - блок будет, а так ну это как бы макс а не стандарт */
}

.form_box-right {
    max-width: 291px;
    width: 100%;
    margin-left: 55px;
}

.form_box-inner label {
    font-family: 'Roboto', sans-serif;
    color: #6e6e6e;
    line-height: 36px;
}

.form_box-inner input {
    margin-bottom: 8px;
    outline: none;
    padding: 0px 10px;
    height: 40px;
    border: 1px solid #e6e6e6;
}

.form_box-inner select {
    outline: none;
    /*чтобы не был выделения поля при клике*/
}

.form_box-inner .jq-selectbox.jqselect {
    display: block;
    width: 100%;
}

.form_box-inner .jq-selectbox__select {
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0px 10px;
}

.form_box-inner .jq-selectbox__trigger-arrow::before {
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    right: 15px;
    top: 0;
    transform: rotate(90deg);
}

.form_box-inner .jq-selectbox__dropdown {
    width: 100%;
    margin: 2px 0px 0px;
    padding: 0;
    border: 1px solid #e6e6e6;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.form_box-inner .jq-selectbox li {
    min-height: 18px;
    padding: 5px 10px 6px;
    color: #1b1b1b;
}

.form_box-inner .jq-selectbox li.selected {
    background-color: #939393;
    color: #ffffff;
}

.form_box-inner .jq-selectbox li:hover {
    color: #ffffff;
    background-color: #d0ae32;
}

.form_box-inner .jq-selectbox li.disabled {
    color: #656565;
}

.form_box-inner .jq-selectbox li.disabled:hover {
    background: none;
}

.form_box-inner .jq-selectbox li.optgroup {
    font-weight: bold;
}

.form_box-inner .jq-selectbox li.optgroup:hover {
    background: none;
    color: #1b1b1b;
    cursor: default;
}

.form_box-inner .jq-selectbox li.option {
    padding-left: 25px;
}

.form_box-inner textarea {
    outline: none;
    border: 1px solid #c5c5c5;
    padding: 10px;
    height: 208px;
    resize: none;
    /*нельзя изменять размер*/
    margin-bottom: 42px;
}

.form_box-inner button {
    background-color: transparent;
    color: #1b1b1b;
    float: right;
}


.advanteges {
    padding: 55px 0px 40px;
    background-image: url(../img/advanteges-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 285px;
    background-size: inherit;
}

.advanteges_inner {
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

.advanteges-item {
    max-width: 360px;
    padding: 0px 20px;
}

.advanteges_title {
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    font-size: 18px;
    font-weight: 500;
    padding: 60px 0px 15px;
    position: relative;
    color: #343434;
}

.advanteges_title::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #d0ae32;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.advanteges_title::after {
    content: "\f00c";
    font-family: 'icomoon';
    font-size: 14px;
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.advanteges_text {
    color: #343434;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.news {
    padding: 55px 0px 110px;
    background-color: #f9f9f9;
}

.news_inner {
    display: flex;
    justify-content: space-between;
}

.news_slider {
    max-width: 555px;
    width: 100%;
    background-color: #e8e8e8;
    box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
    padding: 60px 35px 45px 70px;
    position: relative;
}

.news_slider::before {
    content: "\f10e";
    font-family: 'icomoon';
    height: 30px;
    width: 65px;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    background-color: #d0ae32;
    position: absolute;
    top: 0;
    left: 70px;
}

.news_blog {
    max-width: 260px;
    width: 100%;
}

.news_img {
    position: relative;
}

.news_date {
    position: absolute;
    background-color: #d0ae32;
    height: 55px;
    width: 50px;
    color: #e6e6e6;
    text-align: center;
    padding-top: 30px;
    font-weight: 700;
    top: 0;
    left: 10px;
}

.news_img img {
    width: 260px;
    height: 190px;
}

.news_blog-title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 12px 0;
    color: #1b1b1b;
}

.news_blog-text {
    color: #323232;
    letter-spacing: 0.1px;
}

.news_slide-title {
    font-size: 18px;
    line-height: 24px;
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.news_slide-text {
    margin-bottom: 30px;
}

.news_slide-author {
    color: #1b1b1b;
    letter-spacing: 0.1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.news_slider-inner .slick-btn {
    top: auto;
    bottom: -280px;
    color: #1b1b1b;
    border-radius: 50px solid rgb(0, 0, 0);
    border: 1px solid #000000;
}

.news_slider-inner .slick-btn:hover {
    background-color: rgba(185, 185, 185, 0.241);
}

.news_slider-inner .slick-next {
    right: -35px;
}

.news_slider-inner .slick-prev {
    right: 25px;
    left: auto;
}

.footer_main {
    background-color: #5e5e5e;
    padding: 20px 0px 30px;
}

.footer_inner {
    display: flex;
    justify-content: space-between;
}

.footer_inner .header_btn {
    float: none;
    display: inline-block;
}

.footer_map {
    padding-top: 10px;
    max-width: 630px;
    width: 100%;
}

.footer_map iframe {
    width: 100%;
}

.footer_title {
    color: #ffffff;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
}

.footer_text {
    color: #c5c5c5;
    margin-bottom: 20px;
}

.footer_info {
    max-width: 360px;
}

.footer_list li {
    margin-top: 10px;
}

.footer_list a {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-left: 33px;
    position: relative;
}

.footer_list a::before {
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #d0ae32;
}

.footer_list {
    padding-top: 10px;
}

.footer_list .footer_phone::before {
    content: "\f095";
    font-family: 'icomoon';
    left: 3px;
}

.footer_list .footer_adress::before {
    content: "\f041";
    font-family: 'icomoon';
    left: 3px;
}

.footer_additionally {
    background-color: rgb(59, 59, 59);
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    padding: 8px 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

#modal{
    width: 300px;
}

#modal input,
#modalUpdate input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    padding: 0px 10px;
    height: 40px;
    border: 1px solid #e6e6e6;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

#modal input[type="submit"],
#modalUpdate input[type="submit"] {
    background-color: #d0ae32;
    border: none;
}

.header_btn-menu {
    display: none;
    font-size: 23px;
    color: #270949;
    cursor: pointer;
}

.send_btn {
    cursor: pointer;
}


/* admin */

.admin_panel {
    margin: 23px 0;
}

table {
    font-size: 16px;
    width: 100%;
    margin-right: 80px;
}

th,
td {
    padding: 10px;
}

th {
    background-color: #868686;
    color: white;
}

td {
    background-color: #d3d3d3;
    color: black;
}

.main_btnAdmin {
    line-height: 30px;
    text-align: center;
    border: 2px solid #0000008f;
    margin: 13px 0px;
}

.main_btnAdmin-inner {
    display: flex;
    flex-direction: column;
}

#modalUpdate {
    padding: 0px 27px;
    width: 500px;
    margin: 0 auto;
    border: 2px solid #aeaeae;
}

#modalUpdate h4{
    font-size: 20px;
}

